@charset "UTF-8";

/* 第一行必須是定義編碼 */
/* 確認是否有和index.html連結了 */
body {
    color: var(--text);
}

body,
h1,
ul {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    display: block;
    /* 取消inline-block預設空白 */
    width: 100%;
}

a {
    color: var(--link);
    text-decoration-line: none;
}

a:hover {
    color: var(--primary-1);
    text-decoration-line: underline;
    text-decoration-style: wavy;
}

:root {
    --primary-1: #0152B9;
    --primary-2: #F9D615;
    --link: rgb(119, 0, 167);
    --text: #333;
    --active: red;

}

#topbar {
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    /*主軸對齊模式：貼齊左右均分*/
    align-items: center;
}

#topbar .logo {
    width: 120px;
    /*svg圖檔，預設抓父元素的寬度*/
}

nav li {
    /* nav裡面的li */
    float: left;
    /* 浮動靠左（左排到右） */
    margin-left: 15px;
}

main {
    clear: both;
    padding: 0 50px;
}

section {
    max-width: 1400px;
    margin: 0 auto;
    /* 水平置中可用auto值自動均分 */
    /* 一定要搭配寬度 */
}

.title h2 {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.title h2 span {
    color: var(--primary-1);
    font-size: 1rem;
    margin-left: 10px;
}

.title h3 {
    font-size: 1.15rem;
    font-weight: normal;
    margin: 10px 0;
}

/* 餐廳 */
#restaurant {
    display: flex;
}

#restaurant figure {
    flex: 1;
}

#restaurant div {
    flex: 1.2;
}

/* 串接 */
#api {
    display: flex;
}

#api div {
    flex: 1;
    margin: 20px;
}

#api iframe {
    width: 100%;
    height: 400px;
}

/* 最新消息 */
.listbox {
    display: flex;
}

.listbox article {
    flex: 1;
    margin: 0 15px;
    background-color: var(--primary-2);
}

.listbox figure {
    margin: 0;
    height: 280px;
}

.listbox img {
    /* 重置區已經設計過寬度100%了 */
    height: 100%;
    object-fit: cover;  
    /* 短邊滿版，長邊剪裁 */
    /* contain長邊滿版，短邊等比例縮放 */
}

.listbox .content {
    padding: 20px;
}

footer {
    text-align: center;
    margin: 30px 0;
}